{% assign latest_order = customer.orders[0] %}
{% assign s_address = latest_order.shipping_address %}
{% assign address = customer.default_address %}
  <div id="billing-address" class="col-md-6 content-wrapper">
    <!-- BILLING ADDRESS INFORMATION -->
    <h6 class="header">Billing Address</h6>
    <div class="content">
      <div class="address">
        <!-- EDIT EXISTING ADDRESS (SET AS DEFAULT) -->
        <div>
          <div id="default_address">
            {% include 'address' %}
            <hr>
            <a class="edit-default-address" href="#addresses">Edit Default Address</a>
          </div>
          <div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display: none;">
            {% form 'customer_address', address %}
              {% assign formID = form.id %}
              <label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}:</label>
              <input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" />
              <br>
              <label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}:</label>
              <input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" />
              <br>
              <label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}:</label>
              <input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" />
              <br>
              <label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}:</label>
              <input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" />
              <br>
              <label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}:</label>
              <input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" />
              <br>
              <label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}:</label>
              <input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" />
              <br>
              <label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}:</label>
              <div class="select-wrapper">
              <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}" data-provinces="{{form.provinces}}">
                {{ country_option_tags }}
              </select>
              </div>
              <br>
              <label for="address_province_{{form.id}}">State:</label>
              <div id="address_province_container_{{form.id}}" class="select-wrapper" style="display:none">
              <select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
              </div>
              <br>
              <label for="address_zip_{{form.id}}">Post/Zipcode:</label>
              <input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" />
              <br>
              <label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}:</label>
              <input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" />
              <br>
              <label></label>
              <p class="default-address">{{ form.set_as_default_checkbox }}<span>{{ 'customer.addresses.set_default' | t }}?</span></p>
              <br>  
              <div class="actions">
                <a href="#" class="cancel-edit text-accent-2" >{{ 'customer.addresses.cancel' | t }}</a>
                <input type="submit" class="text-accent-1" value="{{ 'customer.addresses.update' | t }}" />
              </div>
            {% endform %}
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--     SHIPPING ADDRESS       -->
  <div id="shipping-address" class="content-wrapper">
    <h6 class="header">Shipping Address</h6>
    <p>This is the address that your most recent order was sent to. It can be updated by changing or adding a new <b>default address</b>.</p>
      <div class="content">
          {% if s_address %}
            <p>{{ s_address.first_name | capitalize }} {{ s_address.last_name | capitalize }}</p>
            <br>
            {% unless s_address.company == blank %}
              <p>{{ s_address.company | capitalize }}</p>
              <br>
            {% endunless %}
              <p>{{ s_address.street }}, {{ s_address.city }}</p>
              <br>
              <p>
            {% if s_address.province %}
              {{ s_address.province | capitalize }}
            {% endif %}
            {% if s_address.zip %}
              {{ s_address.zip | upcase }},
            {% endif %}
              {{ s_address.country }}
              </p>
            <br>
          {% else %}
            <p>Whoops! Looks like you don't have a shipping address set up yet.<br />
               Maybe it's time to <b><a href="../pages/products">Get Started</a></b> ?</p>
          {% endif %}
          <hr>
          <p class="action"><a href="#" class="add-new" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add a New Address</a></p>
      </div>

    </div>
  <!-- ADD NEW ADDRESS -->
  <div id="add_address" class="content-wrapper" style="display:none;">
    <h6 class="header">{{ 'customer.addresses.add_new' | t }}</h6>
    <div class="content">
      {% form 'customer_address', customer.new_address %}
      {% assign newFormID = form.id %}
        <div class="address">
          <label for="address_first_name_new">{{ 'customer.addresses.first_name' | t }}:</label>
          <input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" />
          <br>
          <label for="address_last_name_new">{{ 'customer.addresses.last_name' | t }}:</label>
          <input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" />
          <br>
          <label for="address_company_new">{{ 'customer.addresses.company' | t }}:</label>
          <input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" size="40" />
          <br>
          <label for="address_address1_new">{{ 'customer.addresses.address1' | t }}:</label>
          <input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" />
          <br>
          <label for="address_address2_new">{{ 'customer.addresses.address2' | t }}:</label>
          <input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" />
          <br>
          <label for="address_city_new">{{ 'customer.addresses.city' | t }}:</label>
          <input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" size="40" />
          <br>
          <label for="address_country_new">{{ 'customer.addresses.country' | t }}:</label>
          <div class="select-wrapper">
          <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
          </div>
          <br>
          <label for="address_province_new">State/Province:</label>
          <div id="address_province_container_new" class="select-wrapper">
          <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
          </div>
          <br>
          <label for="address_zip_new">Post/Zipcode:</label>
          <input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" />
          <br>
          <label for="address_phone_new">{{ 'customer.addresses.phone' | t }}:</label>
          <input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" />
          <br>
          <label></label>
          <p class="default-address">{{ form.set_as_default_checkbox }}<span>{{ 'customer.addresses.set_default' | t }}?</span></p>
          <br>
          <div class="actions">
            <a href="#" class="text-accent-2 cancel-new">{{ 'customer.addresses.cancel' | t }}</a>
            <input type="submit" class="text-accent-1" value="{{ 'customer.addresses.add' | t }}"/>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
  
